
body{
    font-family: serif;
    background-color: skyblue;
}

#viz1{
    background-color: wheat;
}

#viz2{
    background-color: wheat;
}

#median {
    width: 100px;
    height: 400px;
}

.lg{
    background-color: white;
}

.centered {
    text-align: center;

}

.flex-column {
    display: flex;
    flex-direction: column;

}

.flex-row {
    display: flex;
    flex-direction: row;

}


